# Ignore Python virtual environment
venv/
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode or IDE settings
.vscode/
.idea/

# Logs and OS files
*.log
.DS_Store
Thumbs.db
